:root {
    --bub-main: rgb(13, 129, 3);
    --bub-spikes: coral;
    --bob-main: rgb(1, 52, 161);
    --bob-spikes: rgb(112, 177, 252);
    --bub-bubble-outer: rgb(61, 182, 50);
    --bub-bubble-inner: rgb(141, 248, 131);
    --bob-bubble-outer: rgb(53, 104, 212);
    --bob-bubble-inner: rgb(154, 207, 250);
    --box-size: 15px;
  }

* {
    position: absolute;
}

.box {
    margin: 100px 200px;
    width: var(--box-size);
    height: var(--box-size);
    box-shadow: 
    
    /* bubbles */
    calc(var(--box-size)*16) 0 #000,
    calc(var(--box-size)*17) 0 #000,
    calc(var(--box-size)*18) 0 #000,

    calc(var(--box-size)*27) 0 #000,
    calc(var(--box-size)*28) 0 #000,
    calc(var(--box-size)*29) 0 #000,

    calc(var(--box-size)*15) var(--box-size) #000,
    calc(var(--box-size)*16) var(--box-size) var(--bub-bubble-outer),
    calc(var(--box-size)*17) var(--box-size) var(--bub-bubble-outer),
    calc(var(--box-size)*18) var(--box-size) var(--bub-bubble-outer),
    calc(var(--box-size)*19) var(--box-size) #000,
    
    calc(var(--box-size)*26) var(--box-size) #000,
    calc(var(--box-size)*27) var(--box-size) var(--bob-bubble-outer),
    calc(var(--box-size)*28) var(--box-size) var(--bob-bubble-outer),
    calc(var(--box-size)*29) var(--box-size) var(--bob-bubble-outer),
    calc(var(--box-size)*30) var(--box-size) #000,

    calc(var(--box-size)*14) calc(var(--box-size)*2) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*2) var(--bub-bubble-outer),
    calc(var(--box-size)*16) calc(var(--box-size)*2) var(--bub-bubble-inner),
    calc(var(--box-size)*17) calc(var(--box-size)*2) var(--bub-bubble-inner),
    calc(var(--box-size)*18) calc(var(--box-size)*2) #fff,
    calc(var(--box-size)*19) calc(var(--box-size)*2) var(--bub-bubble-outer),
    calc(var(--box-size)*20) calc(var(--box-size)*2) #000,
    
    calc(var(--box-size)*25) calc(var(--box-size)*2) #000,
    calc(var(--box-size)*26) calc(var(--box-size)*2) var(--bob-bubble-outer),
    calc(var(--box-size)*27) calc(var(--box-size)*2) var(--bob-bubble-inner),
    calc(var(--box-size)*28) calc(var(--box-size)*2) var(--bob-bubble-inner),
    calc(var(--box-size)*29) calc(var(--box-size)*2) #fff,
    calc(var(--box-size)*30) calc(var(--box-size)*2) var(--bob-bubble-outer),
    calc(var(--box-size)*31) calc(var(--box-size)*2) #000,

    calc(var(--box-size)*14) calc(var(--box-size)*3) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*3) var(--bub-bubble-outer),
    calc(var(--box-size)*16) calc(var(--box-size)*3) var(--bub-bubble-inner),
    calc(var(--box-size)*17) calc(var(--box-size)*3) var(--bub-bubble-inner),
    calc(var(--box-size)*18) calc(var(--box-size)*3) var(--bub-bubble-inner),
    calc(var(--box-size)*19) calc(var(--box-size)*3) var(--bub-bubble-outer),
    calc(var(--box-size)*20) calc(var(--box-size)*3) #000,
    
    calc(var(--box-size)*25) calc(var(--box-size)*3) #000,
    calc(var(--box-size)*26) calc(var(--box-size)*3) var(--bob-bubble-outer),
    calc(var(--box-size)*27) calc(var(--box-size)*3) var(--bob-bubble-inner),
    calc(var(--box-size)*28) calc(var(--box-size)*3) var(--bob-bubble-inner),
    calc(var(--box-size)*29) calc(var(--box-size)*3) var(--bob-bubble-inner),
    calc(var(--box-size)*30) calc(var(--box-size)*3) var(--bob-bubble-outer),
    calc(var(--box-size)*31) calc(var(--box-size)*3) #000,

    calc(var(--box-size)*14) calc(var(--box-size)*4) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*4) var(--bub-bubble-outer),
    calc(var(--box-size)*16) calc(var(--box-size)*4) var(--bub-bubble-inner),
    calc(var(--box-size)*17) calc(var(--box-size)*4) var(--bub-bubble-inner),
    calc(var(--box-size)*18) calc(var(--box-size)*4) var(--bub-bubble-inner),
    calc(var(--box-size)*19) calc(var(--box-size)*4) var(--bub-bubble-outer),
    calc(var(--box-size)*20) calc(var(--box-size)*4) #000,
    
    calc(var(--box-size)*25) calc(var(--box-size)*4) #000,
    calc(var(--box-size)*26) calc(var(--box-size)*4) var(--bob-bubble-outer),
    calc(var(--box-size)*27) calc(var(--box-size)*4) var(--bob-bubble-inner),
    calc(var(--box-size)*28) calc(var(--box-size)*4) var(--bob-bubble-inner),
    calc(var(--box-size)*29) calc(var(--box-size)*4) var(--bob-bubble-inner),
    calc(var(--box-size)*30) calc(var(--box-size)*4) var(--bob-bubble-outer),
    calc(var(--box-size)*31) calc(var(--box-size)*4) #000,

    calc(var(--box-size)*15) calc(var(--box-size)*5) #000,
    calc(var(--box-size)*16) calc(var(--box-size)*5) var(--bub-bubble-outer),
    calc(var(--box-size)*17) calc(var(--box-size)*5) var(--bub-bubble-outer),
    calc(var(--box-size)*18) calc(var(--box-size)*5) var(--bub-bubble-outer),
    calc(var(--box-size)*19) calc(var(--box-size)*5) #000,
    
    calc(var(--box-size)*26) calc(var(--box-size)*5) #000,
    calc(var(--box-size)*27) calc(var(--box-size)*5) var(--bob-bubble-outer),
    calc(var(--box-size)*28) calc(var(--box-size)*5) var(--bob-bubble-outer),
    calc(var(--box-size)*29) calc(var(--box-size)*5) var(--bob-bubble-outer),
    calc(var(--box-size)*30) calc(var(--box-size)*5) #000,

    /* end of bubbles, start of heads */
    calc(var(--box-size)*10) calc(var(--box-size)*6) #000,
    calc(var(--box-size)*16) calc(var(--box-size)*6) #000,
    calc(var(--box-size)*17) calc(var(--box-size)*6) #000,
    calc(var(--box-size)*18) calc(var(--box-size)*6) #000,

    calc(var(--box-size)*27) calc(var(--box-size)*6) #000,
    calc(var(--box-size)*28) calc(var(--box-size)*6) #000,
    calc(var(--box-size)*29) calc(var(--box-size)*6) #000,
    calc(var(--box-size)*35) calc(var(--box-size)*6) #000,

    /* start of heads alone */
    calc(var(--box-size)*9) calc(var(--box-size)*7) #000,
    calc(var(--box-size)*10) calc(var(--box-size)*7) var(--bub-spikes),
    calc(var(--box-size)*11) calc(var(--box-size)*7) #000,
    
    calc(var(--box-size)*34) calc(var(--box-size)*7) #000,
    calc(var(--box-size)*35) calc(var(--box-size)*7) var(--bob-spikes),
    calc(var(--box-size)*36) calc(var(--box-size)*7) #000,

    calc(var(--box-size)*5) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*6) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*7) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*8) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*9) calc(var(--box-size)*8) var(--bub-spikes),
    calc(var(--box-size)*10) calc(var(--box-size)*8) var(--bub-spikes),
    calc(var(--box-size)*11) calc(var(--box-size)*8) var(--bub-spikes),
    calc(var(--box-size)*12) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*13) calc(var(--box-size)*8) #000,

    calc(var(--box-size)*32) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*33) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*34) calc(var(--box-size)*8) var(--bob-spikes),
    calc(var(--box-size)*35) calc(var(--box-size)*8) var(--bob-spikes),
    calc(var(--box-size)*36) calc(var(--box-size)*8) var(--bob-spikes),
    calc(var(--box-size)*37) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*38) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*39) calc(var(--box-size)*8) #000,
    calc(var(--box-size)*40) calc(var(--box-size)*8) #000,

    calc(var(--box-size)*4) calc(var(--box-size)*9) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*9) var(--bub-spikes),
    calc(var(--box-size)*6) calc(var(--box-size)*9) var(--bub-spikes),
    calc(var(--box-size)*7) calc(var(--box-size)*9) var(--bub-spikes),
    calc(var(--box-size)*8) calc(var(--box-size)*9) var(--bub-spikes),
    calc(var(--box-size)*9) calc(var(--box-size)*9) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*9) var(--bub-main),
    calc(var(--box-size)*11) calc(var(--box-size)*9) var(--bub-main),
    calc(var(--box-size)*12) calc(var(--box-size)*9) var(--bub-main),
    calc(var(--box-size)*13) calc(var(--box-size)*9) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*9) #000,

    calc(var(--box-size)*31) calc(var(--box-size)*9) #000,
    calc(var(--box-size)*32) calc(var(--box-size)*9) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*9) var(--bob-main),
    calc(var(--box-size)*34) calc(var(--box-size)*9) var(--bob-main),
    calc(var(--box-size)*35) calc(var(--box-size)*9) var(--bob-main),
    calc(var(--box-size)*36) calc(var(--box-size)*9) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*9) var(--bob-spikes),
    calc(var(--box-size)*38) calc(var(--box-size)*9) var(--bob-spikes),
    calc(var(--box-size)*39) calc(var(--box-size)*9) var(--bob-spikes),
    calc(var(--box-size)*40) calc(var(--box-size)*9) var(--bob-spikes),
    calc(var(--box-size)*41) calc(var(--box-size)*9) #000,

    calc(var(--box-size)*5) calc(var(--box-size)*10) #000,
    calc(var(--box-size)*6) calc(var(--box-size)*10) var(--bub-spikes),
    calc(var(--box-size)*7) calc(var(--box-size)*10) var(--bub-spikes),
    calc(var(--box-size)*8) calc(var(--box-size)*10) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*10) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*10) var(--bub-main),
    calc(var(--box-size)*11) calc(var(--box-size)*10) var(--bub-main),
    calc(var(--box-size)*12) calc(var(--box-size)*10) var(--bub-main),
    calc(var(--box-size)*13) calc(var(--box-size)*10) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*10) var(--bub-main),
    calc(var(--box-size)*15) calc(var(--box-size)*10) #000,

    calc(var(--box-size)*30) calc(var(--box-size)*10) #000,
    calc(var(--box-size)*31) calc(var(--box-size)*10) var(--bob-main),
    calc(var(--box-size)*32) calc(var(--box-size)*10) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*10) var(--bob-main),
    calc(var(--box-size)*34) calc(var(--box-size)*10) var(--bob-main),
    calc(var(--box-size)*35) calc(var(--box-size)*10) var(--bob-main),
    calc(var(--box-size)*36) calc(var(--box-size)*10) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*10) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*10) var(--bob-spikes),
    calc(var(--box-size)*39) calc(var(--box-size)*10) var(--bob-spikes),
    calc(var(--box-size)*40) calc(var(--box-size)*10) #000,

    /* first row of eyes */
    calc(var(--box-size)*4) calc(var(--box-size)*11) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*11) #000,
    calc(var(--box-size)*6) calc(var(--box-size)*11) #000,
    calc(var(--box-size)*7) calc(var(--box-size)*11) var(--bub-main),
    calc(var(--box-size)*8) calc(var(--box-size)*11) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*11) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*11) var(--bub-main),
    calc(var(--box-size)*11) calc(var(--box-size)*11) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*11) #fff,
    calc(var(--box-size)*13) calc(var(--box-size)*11) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*11) #fff,
    calc(var(--box-size)*15) calc(var(--box-size)*11) var(--bub-main),
    calc(var(--box-size)*16) calc(var(--box-size)*11) #000,

    calc(var(--box-size)*29) calc(var(--box-size)*11) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*11) var(--bob-main),
    calc(var(--box-size)*31) calc(var(--box-size)*11) #fff,
    calc(var(--box-size)*32) calc(var(--box-size)*11) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*11) #fff,
    calc(var(--box-size)*34) calc(var(--box-size)*11) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*11) var(--bob-main),
    calc(var(--box-size)*36) calc(var(--box-size)*11) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*11) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*11) var(--bob-main),
    calc(var(--box-size)*39) calc(var(--box-size)*11) #000,
    calc(var(--box-size)*40) calc(var(--box-size)*11) #000,
    calc(var(--box-size)*41) calc(var(--box-size)*11) #000,

    calc(var(--box-size)*3) calc(var(--box-size)*12) #000,
    calc(var(--box-size)*4) calc(var(--box-size)*12) var(--bub-spikes),
    calc(var(--box-size)*5) calc(var(--box-size)*12) var(--bub-spikes),
    calc(var(--box-size)*6) calc(var(--box-size)*12) var(--bub-spikes),
    calc(var(--box-size)*7) calc(var(--box-size)*12) var(--bub-main),
    calc(var(--box-size)*8) calc(var(--box-size)*12) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*12) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*12) #fff,
    calc(var(--box-size)*11) calc(var(--box-size)*12) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*12) #000,
    calc(var(--box-size)*13) calc(var(--box-size)*12) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*12) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*12) #fff,
    calc(var(--box-size)*16) calc(var(--box-size)*12) #000,

    calc(var(--box-size)*29) calc(var(--box-size)*12) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*12) #fff,
    calc(var(--box-size)*31) calc(var(--box-size)*12) #000,
    calc(var(--box-size)*32) calc(var(--box-size)*12) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*12) #000,
    calc(var(--box-size)*34) calc(var(--box-size)*12) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*12) #fff,
    calc(var(--box-size)*36) calc(var(--box-size)*12) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*12) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*12) var(--bob-main),
    calc(var(--box-size)*39) calc(var(--box-size)*12) var(--bob-spikes),
    calc(var(--box-size)*40) calc(var(--box-size)*12) var(--bob-spikes),
    calc(var(--box-size)*41) calc(var(--box-size)*12) var(--bob-spikes),
    calc(var(--box-size)*42) calc(var(--box-size)*12) #000,

    calc(var(--box-size)*4) calc(var(--box-size)*13) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*13) var(--bub-spikes),
    calc(var(--box-size)*6) calc(var(--box-size)*13) var(--bub-main),
    calc(var(--box-size)*7) calc(var(--box-size)*13) var(--bub-main),
    calc(var(--box-size)*8) calc(var(--box-size)*13) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*13) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*13) #fff,
    calc(var(--box-size)*11) calc(var(--box-size)*13) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*13) #000,
    calc(var(--box-size)*13) calc(var(--box-size)*13) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*13) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*13) #fff,
    calc(var(--box-size)*16) calc(var(--box-size)*13) #000,

    calc(var(--box-size)*29) calc(var(--box-size)*13) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*13) #fff,
    calc(var(--box-size)*31) calc(var(--box-size)*13) #000,
    calc(var(--box-size)*32) calc(var(--box-size)*13) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*13) #000,
    calc(var(--box-size)*34) calc(var(--box-size)*13) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*13) #fff,
    calc(var(--box-size)*36) calc(var(--box-size)*13) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*13) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*13) var(--bob-main),
    calc(var(--box-size)*39) calc(var(--box-size)*13) var(--bob-main),
    calc(var(--box-size)*40) calc(var(--box-size)*13) var(--bob-spikes),
    calc(var(--box-size)*41) calc(var(--box-size)*13) #000,

    calc(var(--box-size)*4) calc(var(--box-size)*14) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*14) #000,
    calc(var(--box-size)*6) calc(var(--box-size)*14) var(--bub-main),
    calc(var(--box-size)*7) calc(var(--box-size)*14) var(--bub-main),
    calc(var(--box-size)*8) calc(var(--box-size)*14) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*14) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*14) #fff,
    calc(var(--box-size)*11) calc(var(--box-size)*14) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*14) #000,
    calc(var(--box-size)*13) calc(var(--box-size)*14) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*14) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*14) #fff,
    calc(var(--box-size)*16) calc(var(--box-size)*14) var(--bub-main),
    calc(var(--box-size)*17) calc(var(--box-size)*14) #000,

    calc(var(--box-size)*28) calc(var(--box-size)*14) #000,
    calc(var(--box-size)*29) calc(var(--box-size)*14) var(--bob-main),
    calc(var(--box-size)*30) calc(var(--box-size)*14) #fff,
    calc(var(--box-size)*31) calc(var(--box-size)*14) #000,
    calc(var(--box-size)*32) calc(var(--box-size)*14) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*14) #000,
    calc(var(--box-size)*34) calc(var(--box-size)*14) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*14) #fff,
    calc(var(--box-size)*36) calc(var(--box-size)*14) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*14) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*14) var(--bob-main),
    calc(var(--box-size)*39) calc(var(--box-size)*14) var(--bob-main),
    calc(var(--box-size)*40) calc(var(--box-size)*14) #000,
    calc(var(--box-size)*41) calc(var(--box-size)*14) #000, 

    calc(var(--box-size)*3) calc(var(--box-size)*15) #000,
    calc(var(--box-size)*4) calc(var(--box-size)*15) var(--bub-spikes),
    calc(var(--box-size)*5) calc(var(--box-size)*15) var(--bub-spikes),
    calc(var(--box-size)*6) calc(var(--box-size)*15) var(--bub-main),
    calc(var(--box-size)*7) calc(var(--box-size)*15) var(--bub-main),
    calc(var(--box-size)*8) calc(var(--box-size)*15) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*15) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*11) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*15) #000,
    calc(var(--box-size)*13) calc(var(--box-size)*15) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*15) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*16) calc(var(--box-size)*15) var(--bub-main),
    calc(var(--box-size)*17) calc(var(--box-size)*15) #000,

    calc(var(--box-size)*28) calc(var(--box-size)*15) #000,
    calc(var(--box-size)*29) calc(var(--box-size)*15) var(--bob-main),
    calc(var(--box-size)*30) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*31) calc(var(--box-size)*15) #000,
    calc(var(--box-size)*32) calc(var(--box-size)*15) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*15) #000,
    calc(var(--box-size)*34) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*36) calc(var(--box-size)*15) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*15) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*15) var(--bob-main),
    calc(var(--box-size)*39) calc(var(--box-size)*15) var(--bob-main),
    calc(var(--box-size)*40) calc(var(--box-size)*15) var(--bob-spikes),
    calc(var(--box-size)*41) calc(var(--box-size)*15) var(--bob-spikes),
    calc(var(--box-size)*42) calc(var(--box-size)*15) #000, 

    calc(var(--box-size)*4) calc(var(--box-size)*16) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*16) var(--bub-spikes),
    calc(var(--box-size)*6) calc(var(--box-size)*16) var(--bub-main),
    calc(var(--box-size)*7) calc(var(--box-size)*16) var(--bub-main),
    calc(var(--box-size)*8) calc(var(--box-size)*16) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*16) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*16) var(--bub-main),
    calc(var(--box-size)*11) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*13) calc(var(--box-size)*16) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*15) calc(var(--box-size)*16) var(--bub-main),
    calc(var(--box-size)*16) calc(var(--box-size)*16) var(--bub-main),
    calc(var(--box-size)*17) calc(var(--box-size)*16) #000,

    calc(var(--box-size)*28) calc(var(--box-size)*16) #000,
    calc(var(--box-size)*29) calc(var(--box-size)*16) var(--bob-main),
    calc(var(--box-size)*30) calc(var(--box-size)*16) var(--bob-main),
    calc(var(--box-size)*31) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*32) calc(var(--box-size)*16) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*34) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*16) var(--bob-main),
    calc(var(--box-size)*36) calc(var(--box-size)*16) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*16) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*16) var(--bob-main),
    calc(var(--box-size)*39) calc(var(--box-size)*16) var(--bob-main),
    calc(var(--box-size)*40) calc(var(--box-size)*16) var(--bob-spikes),
    calc(var(--box-size)*41) calc(var(--box-size)*16) #000,

    /* mouth */
    calc(var(--box-size)*4) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*6) calc(var(--box-size)*17) var(--bub-main),
    calc(var(--box-size)*7) calc(var(--box-size)*17) var(--bub-spikes),
    calc(var(--box-size)*8) calc(var(--box-size)*17) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*17) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*11) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*12) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*13) calc(var(--box-size)*17) #fff,
    calc(var(--box-size)*14) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*16) calc(var(--box-size)*17) #000,

    calc(var(--box-size)*29) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*31) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*32) calc(var(--box-size)*17) #fff,
    calc(var(--box-size)*33) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*34) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*35) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*36) calc(var(--box-size)*17) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*17) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*17) var(--bob-spikes),
    calc(var(--box-size)*39) calc(var(--box-size)*17) var(--bob-main),
    calc(var(--box-size)*40) calc(var(--box-size)*17) #000,
    calc(var(--box-size)*41) calc(var(--box-size)*17) #000,

    /* body */
    calc(var(--box-size)*2) calc(var(--box-size)*18) #000,
    calc(var(--box-size)*4) calc(var(--box-size)*18) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*18) var(--bub-main),
    calc(var(--box-size)*6) calc(var(--box-size)*18) var(--bub-spikes),
    calc(var(--box-size)*7) calc(var(--box-size)*18) var(--bub-spikes),
    calc(var(--box-size)*8) calc(var(--box-size)*18) var(--bub-spikes),
    calc(var(--box-size)*9) calc(var(--box-size)*18) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*18) var(--bub-main),
    calc(var(--box-size)*11) calc(var(--box-size)*18) var(--bub-main),
    calc(var(--box-size)*12) calc(var(--box-size)*18) var(--bub-main),
    calc(var(--box-size)*13) calc(var(--box-size)*18) var(--bub-main),
    calc(var(--box-size)*14) calc(var(--box-size)*18) var(--bub-main),
    calc(var(--box-size)*15) calc(var(--box-size)*18) var(--bub-main),
    calc(var(--box-size)*16) calc(var(--box-size)*18) #000,

    calc(var(--box-size)*29) calc(var(--box-size)*18) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*18) var(--bob-main),
    calc(var(--box-size)*31) calc(var(--box-size)*18) var(--bob-main),
    calc(var(--box-size)*32) calc(var(--box-size)*18) var(--bob-main),
    calc(var(--box-size)*33) calc(var(--box-size)*18) var(--bob-main),
    calc(var(--box-size)*34) calc(var(--box-size)*18) var(--bob-main),
    calc(var(--box-size)*35) calc(var(--box-size)*18) var(--bob-main),
    calc(var(--box-size)*36) calc(var(--box-size)*18) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*18) var(--bob-spikes),
    calc(var(--box-size)*38) calc(var(--box-size)*18) var(--bob-spikes),
    calc(var(--box-size)*39) calc(var(--box-size)*18) var(--bob-spikes),
    calc(var(--box-size)*40) calc(var(--box-size)*18) var(--bob-main),
    calc(var(--box-size)*41) calc(var(--box-size)*18) #000, 

    /* start of belly and bub tail */
    var(--box-size) calc(var(--box-size)*19) #000,
    calc(var(--box-size)*2) calc(var(--box-size)*19) var(--bub-main),
    calc(var(--box-size)*3) calc(var(--box-size)*19) #000,
    calc(var(--box-size)*4) calc(var(--box-size)*19) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*19) var(--bub-main),
    calc(var(--box-size)*6) calc(var(--box-size)*19) var(--bub-spikes),
    calc(var(--box-size)*7) calc(var(--box-size)*19) var(--bub-spikes),
    calc(var(--box-size)*8) calc(var(--box-size)*19) var(--bub-spikes),
    calc(var(--box-size)*9) calc(var(--box-size)*19) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*19) var(--bub-main),
    calc(var(--box-size)*11) calc(var(--box-size)*19) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*19) #fff,
    calc(var(--box-size)*13) calc(var(--box-size)*19) #fff,
    calc(var(--box-size)*14) calc(var(--box-size)*19) #fff,
    calc(var(--box-size)*15) calc(var(--box-size)*19) #000,
    calc(var(--box-size)*16) calc(var(--box-size)*19) #000,

    calc(var(--box-size)*29) calc(var(--box-size)*19) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*19) #000,
    calc(var(--box-size)*31) calc(var(--box-size)*19) #fff,
    calc(var(--box-size)*32) calc(var(--box-size)*19) #fff,
    calc(var(--box-size)*33) calc(var(--box-size)*19) #fff,
    calc(var(--box-size)*34) calc(var(--box-size)*19) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*19) var(--bob-main),
    calc(var(--box-size)*36) calc(var(--box-size)*19) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*19) var(--bob-spikes),
    calc(var(--box-size)*38) calc(var(--box-size)*19) var(--bob-spikes),
    calc(var(--box-size)*39) calc(var(--box-size)*19) var(--bob-spikes),
    calc(var(--box-size)*40) calc(var(--box-size)*19) var(--bob-main),
    calc(var(--box-size)*41) calc(var(--box-size)*19) #000, 

    var(--box-size) calc(var(--box-size)*20) #000,
    calc(var(--box-size)*2) calc(var(--box-size)*20) var(--bub-main),
    calc(var(--box-size)*3) calc(var(--box-size)*20) var(--bub-spikes),
    calc(var(--box-size)*4) calc(var(--box-size)*20) var(--bub-spikes),
    calc(var(--box-size)*5) calc(var(--box-size)*20) var(--bub-main),
    calc(var(--box-size)*6) calc(var(--box-size)*20) var(--bub-spikes),
    calc(var(--box-size)*7) calc(var(--box-size)*20) var(--bub-spikes),
    calc(var(--box-size)*8) calc(var(--box-size)*20) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*20) var(--bub-main),
    calc(var(--box-size)*10) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*11) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*13) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*14) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*15) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*16) calc(var(--box-size)*20) #000,

    calc(var(--box-size)*29) calc(var(--box-size)*20) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*31) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*32) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*33) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*34) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*20) #fff,
    calc(var(--box-size)*36) calc(var(--box-size)*20) var(--bob-main),
    calc(var(--box-size)*37) calc(var(--box-size)*20) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*20) var(--bob-spikes),
    calc(var(--box-size)*39) calc(var(--box-size)*20) var(--bob-spikes),
    calc(var(--box-size)*40) calc(var(--box-size)*20) var(--bob-main),
    calc(var(--box-size)*41) calc(var(--box-size)*20) var(--bob-spikes), 
    calc(var(--box-size)*42) calc(var(--box-size)*20) #000,

    /* feet */
    calc(var(--box-size)*2) calc(var(--box-size)*21) #000,
    calc(var(--box-size)*3) calc(var(--box-size)*21) var(--bub-main),
    calc(var(--box-size)*4) calc(var(--box-size)*21) var(--bub-main),
    calc(var(--box-size)*5) calc(var(--box-size)*21) var(--bub-main),
    calc(var(--box-size)*6) calc(var(--box-size)*21) var(--bub-main),
    calc(var(--box-size)*7) calc(var(--box-size)*21) var(--bub-main),
    calc(var(--box-size)*8) calc(var(--box-size)*21) var(--bub-main),
    calc(var(--box-size)*9) calc(var(--box-size)*21) var(--bub-spikes),
    calc(var(--box-size)*10) calc(var(--box-size)*21) var(--bub-spikes),
    calc(var(--box-size)*11) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*12) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*13) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*14) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*15) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*16) calc(var(--box-size)*21) #000,
    calc(var(--box-size)*17) calc(var(--box-size)*21) #000,

    calc(var(--box-size)*28) calc(var(--box-size)*21) #000,
    calc(var(--box-size)*29) calc(var(--box-size)*21) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*31) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*32) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*33) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*34) calc(var(--box-size)*21) #fff,
    calc(var(--box-size)*35) calc(var(--box-size)*21) var(--bob-spikes),
    calc(var(--box-size)*36) calc(var(--box-size)*21) var(--bob-spikes),
    calc(var(--box-size)*37) calc(var(--box-size)*21) var(--bob-main),
    calc(var(--box-size)*38) calc(var(--box-size)*21) var(--bob-main),
    calc(var(--box-size)*39) calc(var(--box-size)*21) var(--bob-main),
    calc(var(--box-size)*40) calc(var(--box-size)*21) var(--bob-main),
    calc(var(--box-size)*41) calc(var(--box-size)*21) var(--bob-main), 
    calc(var(--box-size)*42) calc(var(--box-size)*21) var(--bob-spikes),
    calc(var(--box-size)*43) calc(var(--box-size)*21) #000,

    calc(var(--box-size)*3) calc(var(--box-size)*22) #000,
    calc(var(--box-size)*4) calc(var(--box-size)*22) var(--bub-main),
    calc(var(--box-size)*5) calc(var(--box-size)*22) var(--bub-main),
    calc(var(--box-size)*6) calc(var(--box-size)*22) var(--bub-main),
    calc(var(--box-size)*7) calc(var(--box-size)*22) var(--bub-main),
    calc(var(--box-size)*8) calc(var(--box-size)*22) var(--bub-spikes),
    calc(var(--box-size)*9) calc(var(--box-size)*22) var(--bub-spikes),
    calc(var(--box-size)*10) calc(var(--box-size)*22) var(--bub-spikes),
    calc(var(--box-size)*11) calc(var(--box-size)*22) var(--bub-spikes),
    calc(var(--box-size)*12) calc(var(--box-size)*22) #fff,
    calc(var(--box-size)*13) calc(var(--box-size)*22) #fff,
    calc(var(--box-size)*14) calc(var(--box-size)*22) #fff,
    calc(var(--box-size)*15) calc(var(--box-size)*22) var(--bub-spikes),
    calc(var(--box-size)*16) calc(var(--box-size)*22) var(--bub-spikes),
    calc(var(--box-size)*17) calc(var(--box-size)*22) var(--bub-spikes),
    calc(var(--box-size)*18) calc(var(--box-size)*22) #000,

    calc(var(--box-size)*27) calc(var(--box-size)*22) #000,
    calc(var(--box-size)*28) calc(var(--box-size)*22) var(--bob-spikes),
    calc(var(--box-size)*29) calc(var(--box-size)*22) var(--bob-spikes),
    calc(var(--box-size)*30) calc(var(--box-size)*22) var(--bob-spikes),
    calc(var(--box-size)*31) calc(var(--box-size)*22) #fff,
    calc(var(--box-size)*32) calc(var(--box-size)*22) #fff,
    calc(var(--box-size)*33) calc(var(--box-size)*22) #fff,
    calc(var(--box-size)*34) calc(var(--box-size)*22) var(--bob-spikes),
    calc(var(--box-size)*35) calc(var(--box-size)*22) var(--bob-spikes),
    calc(var(--box-size)*36) calc(var(--box-size)*22) var(--bob-spikes),
    calc(var(--box-size)*37) calc(var(--box-size)*22) var(--bob-spikes),
    calc(var(--box-size)*38) calc(var(--box-size)*22) var(--bob-main),
    calc(var(--box-size)*39) calc(var(--box-size)*22) var(--bob-main),
    calc(var(--box-size)*40) calc(var(--box-size)*22) var(--bob-main),
    calc(var(--box-size)*41) calc(var(--box-size)*22) var(--bob-main), 
    calc(var(--box-size)*42) calc(var(--box-size)*22) var(--bob-main),
    calc(var(--box-size)*43) calc(var(--box-size)*22) var(--bob-main),
    calc(var(--box-size)*44) calc(var(--box-size)*22) #000,

    calc(var(--box-size)*3) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*4) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*5) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*6) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*7) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*8) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*9) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*10) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*11) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*12) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*13) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*14) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*15) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*16) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*17) calc(var(--box-size)*23) #000,

    calc(var(--box-size)*28) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*29) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*30) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*31) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*32) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*33) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*34) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*35) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*36) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*37) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*38) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*39) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*40) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*41) calc(var(--box-size)*23) #000, 
    calc(var(--box-size)*42) calc(var(--box-size)*23) #000,
    calc(var(--box-size)*43) calc(var(--box-size)*23) #000;
}